<div class="root-div">
  <mat-toolbar color="primary">
    <span>Icarus</span>
  </mat-toolbar>
  <mat-drawer-container class="drawer">
    <mat-drawer mode="side" opened class="drawer-nav">
      <mat-nav-list>
        <a mat-list-item
          *ngFor="let tab of tabList"
          [routerLink]="[tab.name]"
          (click)="selectTab(tab.name)"
          href="#"
          [ngClass]="selected == tab.name ? 'primary' : ''">
          <mat-icon aria-hidden="false">{{ tab.icon }}</mat-icon>
          {{ tab.name }}
      </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
