.root-div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer {
  flex-grow: 1;
}

.drawer-nav {
  min-width: 200px;
  border-right: none;
}

.drawer-content {
  padding-left: 20px;
  padding-top: 20px;
}

.primary {
  color: rgb(63, 81, 181);
  background-color:  rgba(63, 81, 181, 0.1);
}
