<div>
  <mat-toolbar color="primary" class="navbar">
    <div>Icarus</div>
  </mat-toolbar>
  <mat-drawer-container class="sidenav">
    <mat-drawer mode="side" opened class="sidenav-list">
      <mat-action-list>
        <button mat-list-item *ngFor="let tab of tabList" color="accent" (click)="selectTab(tab)">
          {{ tab }}
        </button>
      </mat-action-list>
    </mat-drawer>
    <mat-drawer-content class="sidenav-content">
      {{ selected }}
    </mat-drawer-content>
  </mat-drawer-container>
</div>
