<div class="container">
  <h1>View security technicals</h1>

  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Company</mat-label>
    <mat-select [(ngModel)]="selectedCompany">
      <mat-optgroup label="Companies">
        <mat-option *ngFor="let company of companies" [value]="company.symbol">
          {{company.name}}
        </mat-option>
      </mat-optgroup>
      <mat-optgroup label="Other">
        <mat-option value="USDINR">USD/INR</mat-option>
        <mat-option value="MCIGOLD">Gold</mat-option>
        <mat-option value="MCIMETL">Metal</mat-option>
        <mat-option value="MCICRD">Crude Oil</mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Date range</mat-label>
    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
      <input matStartDate formControlName="start" placeholder="Start date">
      <input matEndDate formControlName="end" placeholder="End date">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>

  <button mat-flat-button color="primary" class="input-field mat-form-field" (click)="fetchData()">
    <mat-icon>update</mat-icon>
    Update
  </button>

  <div class="chart">
    <canvas baseChart
      [data]="financialChartData"
      [options]="financialChartOptions"
      [type]="financialChartType">
    </canvas>
  </div>
</div>
