<div class="container">
  <h1>View company fundamentals</h1>

  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Company</mat-label>
    <mat-select [(ngModel)]="selectedCompany">
      <mat-option *ngFor="let company of companies" [value]="company.symbol">
        {{company.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Years</mat-label>
    <mat-select [formControl]="yearsSelected" multiple>
      <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill" class="input-field">
    <mat-label>Components</mat-label>
    <mat-select [formControl]="componentsSelected" multiple>
      <mat-option *ngFor="let component of allComponents" [value]="component">{{component.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-flat-button color="primary" class="input-field" (click)="fetchData()">
    <mat-icon>update</mat-icon>
    Update
  </button>

  <div class="chart" *ngIf="displayChart">
    <canvas baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [type]="barChartType"
      height="60">
    </canvas>
  </div>
</div>
<!--
 -->
